<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Estudiante</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Agregar Estudiante</h1>
    <form method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="number" name="edad" placeholder="Edad" required>
        <input type="text" name="carrera" placeholder="Carrera" required>
        <input type="email" name="correo" placeholder="Correo" required>
        <button type="submit" class="btn">Guardar</button>
    </form>
    <a href="/" class="btn">Volver</a>
</body>
</html>
